@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --swiper-navigation-color: theme("colors.primary.600");
    --swiper-theme-color: theme("colors.primary.600");
  }

  .dark {
  }
}

@layer utilities {
  .light-text-contrast {
    text-shadow:
      1px 1px 0 rgba(0, 0, 0, 0.2),
      -1px -1px 0 rgba(0, 0, 0, 0.2);
  }
}

*,
::before,
::after {
  border-color: theme("colors.border");
  scroll-behavior: smooth;
}

body {
  background-color: theme("colors.body.bg");
  color: theme("colors.body.color");
}

a {
  color: theme("colors.link.DEFAULT");
}

a:hover {
  color: theme("colors.link.hover");
}

/* Swiper */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 25px;
}
